python-socketio>=5.8.0
websocket-client>=1.6.2
websockets>=10.4
urllib3>=1.26.15
tqdm>=4.66.1
requests>=2.28.2
pytz>=2023.3
ephem>=4.1.4
beautifulsoup4>=4.12.2
pillow>=10.0.0
pyserial>=3.5
numpy>=1.25.1
pygame>=2.4.0
importlib-metadata>=5.0.0
python-dotenv>1.0.1-2
